body{height:100%;margin:0;padding:0;background-color: #F2F2F2;}
.everything {background-color: white; *zoom:1;}

.hf_clf:after{clear: both; content: '.'; display: block; height: 0; line-height: 0; visibility: hidden;}
.hf_clf{display: inline-block;display: block\9;}
html .hf_clf{display: block;}
* html .hf_clf{height: 1%;}
.header .screenReading,.footer .screenReading{font-size:0; height:0; overflow:hidden; position:absolute; width:0; opacity:0;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.header a.screenReading,.footer a.screenReading {font-size:1px !important; position:static; max-width: 0;}}  /*fix for skip links in Chrome*/
.hidden{display: none; visibility: hidden;}
.hand {cursor:pointer}
.header .printable, .footer .printable {display: none;}
/* ---------------------- */

/* Header/Footer styles */
.header, .footer, .birdseed {color:#000; font-family: HPSimplified, Arial;clear:both}
.header, .footer_container {width:1000px; margin: 0 auto;}

.header{height: 125px; padding: 0;font-size:10px;}
.header ul, .footer ul{list-style-type:none;}
.header a, .footer a, .birdseed_links a{text-decoration:none;}
.footer a:visited {color:#000}
.birdseed a:visited {color:#767676}
.header p, .footer p, .footer h3, .footer h4, .header h4, .header ul, .footer ul{margin:0;padding:0;}
.searchSubmit, a.hf_connect_wid, a.hf_community_wid, a.hf_shop_wid,
.footer .hf_bottom_arrow, .footer .worldmap a.cselectorbtn,
.hdr_widgets .more_link, .hf_top_arrow,
.header ul.sub_menu li a span,
.con_widget .icn_email_us, .con_widget .icn_call_us, .con_widget .icn_location,
.hdr_widgets a.hf_arr_wht,
.con_widget .coll_exp, .con_widget .open .coll_exp,
.comm_widget .toggler_comm span, .comm_widget .open span
{background: url(../../i/header-footer/s-hf-v2.0.gif) no-repeat transparent;}
.header .top_wrapper{padding: 5px 20px 3px 30px; font-size: 11px; color: #000;}
.header .top_wrapper .hf_left_col a { display: inline-block; }
.header .top_wrapper .hf_separ {padding: 0 8px;display:inline-block}
.header .top_wrapper .hf_right_col {float:right}
.header .top_wrapper .hf_left_col {float:left}
.header .top_wrapper a,.header .top_wrapper a:visited{color: #000000; text-decoration: none; text-transform:uppercase;}
.hf_top_menu {clear:both;}
a.shop_online:hover,a.shop_online:focus, a.learn_how_to:hover,a.learn_how_to:focus{text-decoration: underline;}
a.buy_hp:hover, a.buy_hp:focus{text-decoration: none; cursor: default}

/* Search form*/
.hdr_widgets, .hdr_widgets .hdr_buttons, .hdr_widgets .search_block{float: right;}
.header .search_container{ width: 223px; height:27px; border: 2px #CCC solid;margin-top:0px;background-color:#FFF;}
.header .searchSubmit {border:0;color:#fff;cursor:pointer; float:left; background-position:-80px -7px; width:34px;height:27px; padding: 0 5px}
.header .searchBox {width:182px; height: 20px; padding:4px 0 3px 7px; *padding:3px 0 4px 7px; margin: 0;font-size:14px; font-family: HPSimplified, Arial; color:#767676; background:#FFFFFF; float:left;  border: 0 none; }
@media \0screen {.header .searchBox {padding:3px 0 4px 7px;}} /*IE8 hack*/
@media screen and (-webkit-min-device-pixel-ratio:0) {.header .searchBox {padding:3px 0 4px 7px;}} /*Chrome hack*/

.search_container_inactive{position: absolute; left:0;}
.search_container_active{position: absolute; top: 0; right: 15px; z-index: 21;}

/*HP logo*/
.header .hp_logo img.hf_logo{background-image:url(../../i/header-footer/hp-logo-print.jpg); width: 41px; height: 41px;border:  0 none}
.header .hp_logo_pub {background-image:url(../../i/header-footer/hp-logo.gif)}
.header .hp_logo{float: left;}
.header .hp_logo a.hf_logo{display: block;margin: 18px 12px 0 9px; width:70px }
.header .hp_logo a.hf_logo img{border: 0 none; width:70px;height:70px}

/* Main Nav styles */
.header .hf_menu{float: left;}
.header ul.main_nav {display: table; margin-top:32px; margin-left: 12px;}
.header ul.hnl_l3_link{left:-10px;margin-top:3px}
.header ul.main_nav a.header_link{display:inline-block; padding-right: 33px;}
.header ul.main_nav a.header_link_lst{padding-right: 0;}
.header ul.main_nav .header_titles {float:left; border-left:0; margin: 0px; padding: 0px; display:block; position:relative; font-size: 15px; line-height:18px; min-height:34px; _height:34px;}
.header ul.sub_menu {display: none; background: #fff;position: absolute;left: -17px;top: 35px;width: 231px; padding-top: 15px;padding-right:15px; padding-left:10px;padding-bottom:10px; margin-top: 10px;border:#CCC 2px solid;font-size:13px;*padding-bottom:11px;*padding-left:9px;_padding-left:7px}
.header ul.sub_menu li {padding-left: 10px;_padding-left:12px;text-indent:-14px;}
.header ul.sub_menu li ul li {text-indent:0px;}
.header ul.sub_menu li a.l2_link span {padding: 0px 5px;}
.header ul.sub_menu li a.l2_link {line-height:10px; line-height:15px\9; *padding-left:15px;*line-height:15px; *zoom:1; color:#767676;}
.header ul.sub_menu li.hnl_l2_link{margin-bottom:5px; *margin-bottom:3px; padding-bottom:0px;_padding-bottom:1px;_margin-bottom:3px;}
.header ul.sub_menu li.hnl_l2_link a{line-height:18px; *line-height:20px; font-weight:normal;}
.header ul.sub_menu li.hnl_l2_link a.l2_link{padding-bottom:3px; *padding-bottom:0px; color:#000;}
.header ul.sub_menu li.hnl_l2_link a.l2_link:visited{color:#000;}
.header .sub_menu_wrapper{display: none;background: transparent;left:0;width:230px;padding:0;margin-top: 10px;position:absolute;top: 27px;font-size:10px; z-index: 10}
.header .sub_menu_wrapper .sub_menu{display:block;position:relative;left:0;top:0;margin:0}

.hf_top_arrow{background-position:  -321px -2px;position: absolute;width: 17px;height: 11px;}
.hf_menu .hf_top_arrow{top:3px; _top:9px; position:relative;z-index:10; left:20px;}
.con_widget .hf_top_arrow{right: 40px; top: -11px;}
.comm_widget  .hf_top_arrow{right: 5px; top: -11px;}

.header ul.main_nav a{color:#000;font-weight:bold;}
.header ul.main_nav .header_titles a:hover,
.header ul.main_nav .header_titles a.over,
.header ul.main_nav .header_titles a:active{color:#0096D6;text-decoration:none;}
.header ul.main_nav ul.sub_menu li a:hover,
.header ul.main_nav ul.sub_menu li a:focus{text-decoration:none; color:#007DBA;}
.header ul.main_nav ul.sub_menu .hnl_l2_link a:hover,.header ul.main_nav ul.sub_menu .hnl_l2_link a:focus{color:#000}
.header ul.main_nav ul.sub_menu .hnl_l3_link li a{color:#767676;}
.header ul.main_nav ul.sub_menu .hnl_l3_link li a:hover,.header ul.main_nav ul.sub_menu .hnl_l3_link li a:focus{color:#007DBA;}
.header ul.sub_menu li a span {background-position:-378px -119px}
.header ul.sub_menu li a.open span,
.header ul.main_nav ul.sub_menu li a.open:hover span,
.header ul.main_nav ul.sub_menu li a.open:focus span{background-position:-378px -149px;}
.header ul.sub_menu li ul li {line-height: 15px; padding: 2px 0; *margin-left:0px;}

/**HEADER NAV BUTTONS & WIDGETS*/
.hdr_widgets {padding-right: 15px; position: relative;z-index:10}
.hdr_widgets li.nav_button{position: relative; float: left; display: inline-block; padding-left:5px; z-index: 1;}
.hf_connect_wid, .hf_community_wid, .hf_shop_wid {width: 31px; height:31px; display: block;}
.hdr_widgets li.nav_button a#community_widget {background-position: -170px 0;}
.hdr_widgets li.nav_button a#community_widget:hover,
.hdr_widgets li.nav_button a#community_widget.community_over{background-position: -170px -42px;}

.hdr_widgets li.nav_button a.hf_connect_wid {background-position: -226px 0;}
.hdr_widgets li.nav_button a.hf_connect_wid:hover,
.hdr_widgets li.nav_button a.hf_connect_wid.connect_over{background-position: -226px -42px;}

.hdr_widgets li.nav_button a.hf_shop_wid {background-position: -170px -81px;}
.hdr_widgets li.nav_button a.hf_shop_wid:hover,
.hdr_widgets li.nav_button a.hf_shop_wid.shop_over{background-position: -226px -81px;}
.hdr_widgets li.nav_button a.shop_over{background-position: -226px -81px;}

/*FOOTER*/
.footer{width: 100%; margin: 0; background: #f2f2f2; zoom:1;font-size:10px}
.footer a {font-size:10px}
.footer_container {padding: 24px 0 34px 0; border-bottom: 1px solid #CCCCCC;}

/* Birdseed, Legal and Privacy links */
.birdseed{text-align: center;padding:38px 0 54px 0; background: #F2F2F2; font-size:10px}
ul.birdseed_links {margin: 0 auto; list-style-type:none;padding-bottom: 9px;}
.birdseed_links a, .birdseed_links a:link, .birdseed_links a:active {font-size:11px; color:#767676;}
.birdseed_links li{display: inline-block;}
.birdseed_links .lstchild span {display:none}
.birdseed_links a:hover {text-decoration: underline}
.birdseed_links li{*display:inline}
.footer .hf_separ, .birdseed .hf_separ {color:#767676; padding:0 8px; display: inline-block;}

/* Country selector */
div.visible{display: block; visibility: visible;}
.footer .world_map{ margin:0 auto; *float: left; width: 0;}
.footer .cselector_wrapper{float: left;position:relative; *position: static;}
.footer .worldmap_wrapper{position: absolute;left:0}
.footer .cntr_map{width: auto; float:left; _display: inline; _zoom:1;}
.footer .cselector_wrapper a, .footer .cselector_wrapper a:link {color:#000; /*text-align: right;*/ display: inline-block;}
.footer .cselector_wrapper, .footer .worldmap_wrapper{*display: inline; *zoom:1}
.footer .cselector span.map {background:transparent url(../../i/common/i-pre-lg-hpe.gif) no-repeat;}
.footer a.cselector:hover .selectedCountry{text-decoration: underline;}
.footer .cselector span{display: inline-block;cursor: pointer;font-size: 12px;line-height:12px;color:#000}
.footer .cselector span.flag{ width:16px; padding: 0 8px 0 0px; background:url(../../i/footer/flag.png) transparent no-repeat left center;}
/*.footer .popup_box{position: relative; float: left;}  */
 /* Country selector with worldmap icon*/
.footer .hf-worldmap .cselector span.flag{ width:35px; height: 24px; background-image:url(../../i/footer/world-map-hpe.gif);}
.footer .hf-worldmap .cselector span{line-height: 24px;}
.footer .hf-worldmap .cntr_map{margin-top: -6px;}

/* Country selector - Worldmap   */
.footer .worldmap{ top:-500px; width:944px; height:470px; background:transparent url(../../i/header-footer/i-cselector-worldmap-hpe.gif) repeat scroll 0 0; overflow:visible; position: absolute; left:0; border: 2px solid #ccc; z-index:54; }
.footer .worldmap .country_holder{float: left; padding: 52px 17px 52px 20px; *float:none; }
.footer .worldmap .country_holder ul{width:115px; float: left;margin-right:17px;}
.footer .worldmap .country_holder ul li{padding-bottom: 5px;text-align:left}
.footer .worldmap .country_holder ul.ul_lst{margin-right:0px}
.footer .worldmap .country_holder li a, .footer .worldmap .country_holder li a:link{font-size: 13px; line-height: 20px; color: #000}
.footer .worldmap li a:hover, .footer .worldmap li a:focus {color: #000;text-decoration: underline}
.footer .worldmap .hf_bottom_arrow{ width:17px;height:14px; position:absolute; bottom:-14px; left:14px; background-position: -320px -101px; }
.footer .worldmap a.cselectorbtn{ background-position:-367px -9px; width:17px;height:17px;top:10px;right:10px; position:absolute; display:block; }
.footer .worldmap a.cselectorbtn:hover{background-position: -367px -64px}

/*Footer left column*/
.footer_container .hf_left_col{float: left; margin-left: 29px;}
.footer_container .cs-container {display:block}
.footer .home_link, .footer a.mob_ver {color: #000000; font-size: 12px; float: left;}
.footer .home_link span.hf_separ{display: inline-block; padding: 0 10px;font-size:10px; line-height:12px}
.footer .home_link a{color: #000000; display: inline-block;font-size:12px;line-height:12px;}
.footer .home_link a:hover{text-decoration: underline;}
.footer a.mob_ver {margin-top: 24px; clear: left;}
.footer a.mob_ver:hover{text-decoration: underline;}

/*Footer right column - footer menu*/
.footer .footer_menu{float:right; *position:static; margin-right: 23px;}
.footer ul.ftr_menu_row{float:right; clear:both;  padding-bottom:3px; white-space: nowrap;}
.footer .footer_menu  ul li{display:inline; position:relative; *position: static; *zoom:1;}
noindex:-o-prefocus, .footer .footer_menu  ul li {position: static;} /*Opera */
.footer .footer_menu  ul li a, .footer .footer_menu  ul li.last span{color:#000; font-size:12px;line-height:14px}
.footer .footer_menu  ul li a:hover, .footer .footer_menu  ul li a:focus{color:#000;text-decoration:underline}
.footer .footer_menu  ul li a.copyright:hover{text-decoration:none; cursor: default;}
.footer .footer_menu .hf_separ{background: none; color: #000000;}

/*Footer widgets*/
.footer .footer_popup{ display: none;height: auto; position: absolute; color: #000; font-size: 13px; background: #FFF;
    border: 2px solid #CCCCCC; z-index: 1; padding: 18px 18px 13px 18px; bottom: 30px; left:0; width: 170px; white-space: normal;}
.footer .footer_popup .hf_bottom_arrow{position:absolute;width: 17px;height: 11px; bottom: -10px; _bottom: -18px;  left: 12px;
    background-position:-321px -100px;}

.footer .ftr_edge{right: 0; left: auto;}
.footer .ftr_edge .hf_bottom_arrow{left: auto; right: 25px;}
.footer .footer_popup h4,.footer .footer_popup a{padding-bottom: 5px;}
.footer .footer_popup h4 {font-weight:bold; font-size:13px}
.footer .footer_popup ul li{display: block;}
.footer .footer_popup ul li a, .footer .footer_popup ul li a:link{color: #007DBA; font-size: 13px; display: block;line-height:16px}
.footer .footer_popup ul li a:hover,.footer .footer_popup ul li a:focus,.footer .footer_popup ul li a:active, .footer .footer_popup ul li a:visited {color: #007DBA;}

/* Community widget */
.hdr_widgets li.community_widget {z-index: 20;}
.hdr_widgets div.cmm_win {display: none;height: auto; position: absolute;
    right: -47px;top: 35px;width: 400px;color: #FFFFFF;font-size: 100%;line-height: 17px;}
.hdr_widgets .cmm_win a, .hdr_widgets .cmm_win a:visited {text-decoration: none; display: inline-block;
    color: #fff;font-size: 100%;line-height: 17px;}
.hdr_widgets .cmm_win a:hover, .hdr_widgets .cmm_win a:active,
.hdr_widgets .cmm_win a:focus {color: #66CC00;}
.hdr_widgets .cmm_win h4, .hdr_widgets .btm_l {
    background-color: #626262;
    width: 380px; font-weight: normal;line-height: 35px;display: inline-block;float: left;clear: none;color: #ffffff;font-size: 100%; text-transform: none;}
.con_widget .coll_exp,
.comm_widget .toggler_comm span {background-position: -378px -121px; padding: 0 0 0 9px; float: left; display: inline-block;}
.con_widget .open .coll_exp,
.comm_widget .open span{background-position: -378px -151px;; padding: 0 0 0 9px; float: left; display: inline-block;}

.hdr_widgets .no_items .coll_exp{display: none;}
.hdr_widgets .cmm_win .fst img {margin-left: 5px}
.hdr_widgets .btm_l {border-bottom: 3px solid #66CC00;height: 32px}
.hdr_widgets .cmm_win ul {background-color: #252525;list-style-type:none;}
.hdr_widgets .cmm_win li {border-bottom: 1px solid #585858;display: inline-block; width: 100%;clear: both}
.hdr_widgets .cmm_win li.no_b {border-bottom: 0 none}
.hdr_widgets .cmm_win a.blu:hover {color: #00BFF3;}
.hdr_widgets .cmn_bl {padding: 5px 30px;}
.hdr_widgets .hf_m10 {margin-bottom: 10px;font-size: 100%;line-height: 17px;}
.hdr_widgets .widget a,
.hdr_widgets .widget a:hover,
.hdr_widgets .widget a:visited,
.hdr_widgets .widget a:active{color: #007DBA; font-size: 1.3em;}
.hdr_widgets a.toggler_comm {cursor: pointer;display: block; color: #000000;margin-top: 28px;}
.hdr_widgets .widget a.toggler_comm:hover, .hdr_widgets .widget a.toggler_comm:focus, .hdr_widgets .widget a.toggler_comm:visited {text-decoration: none; color: #000000 !important}
.hdr_widgets .fst75 {width: 75%;display: inline-block;float: left;}
.hdr_widgets .block_img {width: 25%;display: inline-block;float: left;}
.hdr_widgets .cmm_win a.more_link:hover {background-position: right -444px;}
.hdr_widgets .cmm_win_disc {border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; overflow: hidden;padding: 16px 20px;margin-top:-1px;}
.hdr_widgets .cmm_win .error {margin: 5px; display: block;}
.hdr_widgets .posted {padding-bottom: 5px;margin-bottom: 5px;font-size: 90%;line-height: 17px}
.hdr_widgets .more_link {background-position: right -140px; padding: 0 13px 0 5px;float: right}

/*New Widgets styles */
.hdr_widgets .widget{display: none;height: auto;position: absolute;color: #666;font-size: 100%;background: #FFFFFF;border: 2px solid #CCC;}
.hdr_widgets .widget a:hover{text-decoration: underline; zoom:1;}
.hdr_widgets .widget .cmn_sect div{float:left;}
.hdr_widgets .widget .sect_text{width: 259px;}
.hdr_widgets .widget .sect_image{width: 85px; padding-left: 15px;}
.hdr_widgets .widget .widget_h{padding: 0 20px 7px;}
.hdr_widgets .widget .widget_h h4{color: #000000; font-size: 1.4em; font-weight: bold; line-height: 14px;}
.hdr_widgets .widget .widget_content .cmn_sect{padding: 7px 0; margin: 0 20px; border-bottom: 1px solid #CCCCCC; line-height: 17px; *zoom: 1;}
.hdr_widgets .widget .widget_content .cmn_sect p{font-size: 1.3em; line-height:14px}

/* New Community widget  */
.comm_widget{top: 55px; width: 400px; padding: 20px 0;}
.comm_widget .widget_content .cmn_soc{padding: 3px 20px 0;}
.comm_widget .widget_content .cmn_soc p{color: #111; margin-bottom: 2px; font-weight: bold;}
.comm_widget .widget_content .cmn_soc li{display: block;line-height: 13px; padding-top: 5px;}
.comm_widget .widget_content .cmn_soc li.fst{padding-top: 10px;}
.comm_widget .widget_content .cmn_soc li a{display: block; width: auto; height: auto; padding-left: 20px !important; margin: 0; line-height: 16px;}
.comm_widget .widget_content .cmn_soc li a:hover{text-decoration: none;}
.comm_widget .discussions_target{line-height: 17px; *margin-top: -3px !important; }
.comm_widget .discussions{margin-bottom: 12px}
.comm_widget .disc_lst{margin-bottom: 0;}
.comm_widget .discussions p{font-size: 1.3em; line-height: 16px;}

/* Connection widget  */
.hdr_widgets li.connect_widget {z-index: 20;}
.con_widget{top: 55px; width: 256px; padding: 20px 0 18px;}
.hf_top_arrow{background-position:  -321px -2px;position: absolute;width: 17px;height: 11px;}
.con_widget .hf_top_arrow{right: 40px; top: -11px;}
.comm_widget  .hf_top_arrow{right: 5px; top: -11px;}

.con_widget .no_items{background: none !important;}
.con_widget .con_items{padding: 0 20px;}
.con_widget .con_items li{padding: 9px 0; border-bottom: 1px solid #CCCCCC;}
.con_widget .con_items a{color: #000000; line-height: 14px; display: inline-block; cursor:hand;}
.con_widget .con_items a:hover,.con_widget .con_items a:visited{color: #000000; text-decoration: none;}
.con_widget .con_items .cnn_win_disc{padding-left: 37px;}
.con_widget .con_items .cnn_win_disc li{padding: 3px 0 0; border: 0; line-height: 13px;}
.con_widget .con_items .cnn_win_disc .item_fst{padding-top: 10px;}
.con_widget .con_items .cnn_win_disc a,.con_widget .con_items .cnn_win_disc a:visited {color: #767676;}
.con_widget .con_items .cnn_win_disc a:hover, .con_widget .con_items .cnn_win_disc a:focus {color: #007DBA;}

.con_widget .con_items li.all_contacts{padding: 19px 0 0; border-bottom: none;}
.con_widget .all_contacts a, .con_widget .all_contacts a:visited, .con_widget .all_contacts a:hover{color: #007DBA;}
.con_widget .all_contacts a:hover{text-decoration: none;}

.con_widget .icn_email_us, .con_widget .icn_call_us, .con_widget .icn_location{
    float: left; height: 15px; width: 15px; padding-right: 8px;}
.con_widget .icn_email_us{background-position: -279px 0px;}
.con_widget .icn_call_us{background-position: -279px -42px;}
.con_widget .icn_location{background-position: -275px -94px; padding-left: 0px;}
.con_widget .no_items .icn_location{background-position: -266px -94px; padding-left: 12px;}
.con_widget .item_title{display: inline-block; width: 178px; _width: 176px;}

/* Spooler      */
.footer .wait_class, .header .wait_class {display: none; position: absolute; top: 0; left: 0; }
.footer  .wait_class div, .header  .wait_class div, .footer  #cs_spooler div, .header  #cw_spooler div { background: url(../../i/common/i-pre-lg-hpe.gif) no-repeat scroll 0 0 transparent;
    height: 60px; width: 60px; margin-left: auto; margin-right: auto; position: relative; top: 0; }
.footer .wait_class.active, .header .wait_class.active {display: block;}
.header #cw_spooler, .header #cw_spooler div {position: static; display: block;}
.footer #cs_spooler { width: 1000px !important; top: -257px; opacity:1; z-index:53; position: absolute; }


/*Community widget with tridion structure*/
.hdr_widgets .cmn_bl{padding: 7px 0; margin: 0 20px; border-bottom: 1px solid #CCCCCC; line-height: 18px;}
.hdr_widgets .hf_row2_75_25{display: inline-block;}
.hdr_widgets .fst75 {display: inline-block; float: left; width: 259px}
.hdr_widgets .lst25 {display: inline-block; float: left; padding-left: 15px; width: 85px;}
.hdr_widgets .hf_m10 {font-size: 1.3em; line-height:14px; margin-bottom: 0}
.hdr_widgets a.hf_arr_wht{background-position: -378px -119px; padding-left:12px}
.hdr_widgets a.open {background-position: -378px -149px;}
.comm_widget .cmm_win_disc .hf_f90 {font-size: 1.3em; line-height: 16px;}
.comm_widget .cmm_win_disc .hf_m5{ margin-bottom: 12px;}
.comm_widget .cmm_win_disc .hf_clf .hf_float_max{float: right;}
.hdr_widgets ul li.no_b .hf_cnt5_30 {padding: 8px 20px 0;}
.hdr_widgets img{border: 0;}
.comm_widget .js_discussions_target{line-height: 17px; *margin-top: 0px; *zoom:1;}

*html .con_widget, .comm_widget ,footer .footer_popup {overflow-y: visible !important;}
*html .header .sub_menu_wrapper {width:auto}
*+html .hf_top_menu {height:auto}
.header ul.main_nav .header_titles, .footer .cselector_wrapper {*z-index:10}

/* autocomplete*/
.ac_results {padding: 0 0 20px 0;  border: 2px solid #ccc; border-top-width: 0; background-color: #fff; overflow: hidden; z-index: 21; font-family: HPSimplified, Arial; top: 27px; left: -2px; position: absolute;}
.ac_results ul { list-style-position: outside; list-style: none; padding: 0; margin: 0;}
.ac_results li { position: relative; margin: 0; padding: 0; cursor: pointer; display: block; overflow: hidden;}
.ac_results a,.ac_results a:link { text-decoration: none; font: 14px HPSimplified, Arial; line-height:18px; color: #000; width: 100%; display: block; margin: 0; padding: 3px 10px; height:auto; width: auto; _position: relative;}
.ac_results a:visited{color: #000000;}
.ac_results a:active {text-decoration: none; color: #FFFFFF;}
.ac_results a:focus{color: #FFFFFF;}
.ac_results a.ac_focus, .ac_results a.focus {background-color: #0096D6; color: #FFFFFF;}
.ac_results a span{color: #CCCCCC;}
.ac_results a.ac_focus span{color: #FFFFFF;}

/*ladybug position*/
#ladybug {width:1000px; margin: 0 auto; position:relative}
#ladybug table {position:absolute; top:35px}