#at15s #at_hover .at_item:focus{
    background-color: #f2f2f2 !important;
    outline:  1px solid #e5e5e5;
}

#at15s #at15s_head #at15ptc {
    color: #333333;
}

#at15s #at15s_head{
    background-color: #F3F4F3;
}

#at16pt h4{
    color: #333333;
}

#at20mc #at16lb {
    opacity: 0.85;
    filter:alpha(opacity=0.85);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=85)" !important;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85) !important;

}

#at20mc #at16p{
    background-color: #FFFFFF;
}

#at15s #at_hover{
    visibility: visible !important;
    display: block !important;
}