*+html .eb-video-popup .eb-popup-paginator {  /*ie7*/
    margin-bottom: 20px;
}

*html .eb-video-popup .eb-popup-paginator {  /*ie6*/
    margin-bottom: 20px;
    margin-right: 0;
}

.overlay_popup .popup_content {_width:677px }