.overlay_trigger, .overlay_trigger:link{
    font-size: 14px;
    line-height: 18px;
    color: #767676;
    text-decoration: none;
}

.overlay_trigger:hover,.overlay_trigger:focus{
    text-decoration: underline;
}


.overlay_popup{
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 0;
    padding-top: 17px;
}

.overlay_popup h4.cnt  {
    color: #000000;
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    margin: 0px 38px;
}


.overlay_popup h2, .eb-video-popup .eb-popup-header{
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin: 4px 38px 0;
}

.eb-video-popup .popup-description{
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    margin: 12px 38px;
}

.eb-video-popup .eb-popup-separator, .overlay_popup .eb-popup-separator{
    border-top: 1px solid #CCCCCC;
    margin: 40px 41px 18px 38px;
    height: 1px;
}

.eb-video-popup .popup-copyright{
    color: #767676;
    font-size: 12px;
    line-height: 15px;
    margin: 0 40px 35px;
}

.overlay_popup .popup_close {
    background: url(../../i/common/s-21px-hpe.png) no-repeat scroll 0px -500px transparent;
    _background-image: url(../../i/common/s-21px-ie6-hpe.gif);
    height: 17px;
    width: 17px;
    display: inline-block;
}

.overlay_popup .popup_close:hover {
    text-decoration: none;
}

.overlay_popup .cl_box{
    position:absolute;
    right: 10px;
    top:10px;
}

.eb-video-popup .video_cnt{
    margin: 16px 38px 40px;
}

/*.overlay_popup .popup_cnt {
    padding: 0 38px;
    border-bottom: none;
}*/

.overlay_popup .popup_cnt h2 {
    margin:4px 0 12px 0;
}

.overlay_popup .popup_content{width: 601px;  padding: 0 38px;}

.overlay_popup .popup_content h3{
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}

.overlay_popup .popup_content p {
    padding-bottom: 8px;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.overlay_popup .popup_content img {
    margin-left: 20px;  float:right;
}

.overlay_popup .popup_content h4{
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}

.overlay_popup a.icn_dld {
    padding: 0 0 0 20px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
    float: left;
    clear: left;
    white-space: nowrap;
}

.overlay_popup a.icn_dld:hover {
    text-decoration: none;
}

.overlay_popup .img_out {
    padding: 0 38px 40px;
}

.overlay_popup .player{
    position: relative;
}

.eb-video-popup .eb-popup-header {
    width: auto;
    display: block;
}

.eb-video-popup .eb-popup-image {
    margin: 20px 40px;
}

.eb-video-popup .eb-popup-paginator {
    margin-bottom: 40px;
}

.img_ovr {float:left; margin-right: 2px; margin-bottom: 2px}
.img_ovr:nth-child(9){margin-right: 0}

.pop_cnt {display:none;left:50%;margin-top:50px;position:absolute;z-index:101;}
.pop_drk {background:none repeat scroll 0 0 #000000; left:0;position:absolute;top:0;width:100%;z-index:100;}