.rtf_table{border:2px solid #ccc; font-size:15px; border-spacing:0px; border-collapse: collapse;}
.rtf_table th,.rtf_table td{ border: 1px solid #ccc; }
.rtf_table th{padding:9px 20px; text-align: left; color:#000; font-weight:bold; background-color:#f2f2f2}
.rtf_table td{padding:9px 20px !important; vertical-align:middle; text-align: left; }
.rtf_table a:link{color:#007dba; }
.rtf_table a:focus, .rtf_table a:hover{text-decoration:underline; }
.rtf_table a.button:link{color:#fff; }
.rtf_table a.button:hover{text-decoration:none; }

td.cnt{ text-align:center}
.rtf_table  td{padding:15px 20px !important; vertical-align: middle; color:#5a5a5a; }
.rtf_table.top-aligned td, .rtf_table td.top-aligned, .rtf_table.bottom-aligned td.top-aligned{ vertical-align: top; }
.rtf_table.bottom-aligned td, .rtf_table td.bottom-aligned, .rtf_table.top-aligned td.bottom-aligned{ vertical-align: bottom; }
.rtf_table.top-aligned td.middle-aligned, .rtf_table.bottom-aligned td.middle-aligned{ vertical-align: middle; }

.opt_head  td{color:#000 !important; font-weight:bold; background-color:#ccc; border-right:1px solid #fff; vertical-align:bottom}
.main_header .last, .opt_head  .last{border-right:1px solid #ccc}
.main_header th{color:#fff; background-color:#767676; border-right:1px solid #fff; vertical-align:bottom}
.opt_subhead td{border-right:1px solid #ccc; border-top:1px solid #ccc; color:#000; font-weight:bold; background-color:#f2f2f2; vertical-align:bottom}
.rtf_table .bold {font-weight:bold;color:#000;}
.rtf_table .orange{color:#ff0000; font-size:14px; }
.rtf_table .button_hpe, .rtf_block .rtf_table  a.button_hpe{color:#ffffff !important;}
.rtf_table .button_hpe:visited, .rtf_block .rtf_table  a.button_hpe:visited{color:#ffffff !important;}
.rtf_table .button_hpe:focus, .rtf_block .rtf_table  a.button_hpe:focus{color:#ffffff !important;}