/* secondary nav */
.secondary_nav .menu a, .secondary_nav .menu a:visited {font-size: 16px; line-height: 22px; color: #767676}
.secondary_nav .menu a:focus,.secondary_nav .menu a:hover {color: #007dba}
.secondary_nav .menu .selected a {color: #000}

.secondary_nav .level2 .menu {margin-left: 3px}
.secondary_nav .level2 .menu .first_li {margin-left: 18px}
.secondary_nav .level2 { width: 100%; }
.secondary_nav .level2 .menu { border-bottom: 1px #ccc solid; }
.secondary_nav .level2 .menu li { display: inline-block; padding: 24px 0 12px; margin: 0 15px;
    _zoom:1; _display: inline;*zoom:1; *display: inline;} /*ie6-7 fix*/
.secondary_nav .level2 .menu li.selected {padding-bottom: 8px; border-bottom: 4px #0096d9 solid}

.secondary_nav .expand_area {
    width: 100%;
    display: none;
    padding-top: 15px;
    overflow: hidden;
    border-bottom: 4px #0096d6 solid;
    position: relative;
    background-color: #fff;
}

.secondary_nav .expand_area a { font-size: 14px; line-height: 18px; color: #000; }
.secondary_nav .expand_area a:hover { color: #007dba }

.secondary_nav .expand_area .level3,
.secondary_nav .expand_area .level4,
.secondary_nav .expand_area .promo_area {
    display: inline-block;
    height: 388px;
    float: left;
}

.secondary_nav .expand_area .level3 {width: 314px}
.secondary_nav .expand_area .level3 .menu li {padding: 4px 0 5px 18px; cursor: pointer; }
.secondary_nav .expand_area .level3 .menu .selected { color: #fff; background-color: #007dba }
.secondary_nav .expand_area .level3 .menu .selected a, .secondary_nav .expand_area .level3 .menu .selected:hover {color: #fff;}
.secondary_nav .expand_area .level3 .seporator { margin: 15px 0 15px 18px; line-height: 6px; border-bottom: 1px #b2b2b2 solid; width: 280px; }

.secondary_nav .expand_area .level4 {width: 294px; padding: 29px 20px 0 20px; border-right: 1px #ccc solid; border-left: 1px #ccc solid}
.secondary_nav .expand_area .level4 .menu, .main_nav .expand_area .level4 { display: none; }
.secondary_nav .expand_area .level4 .menu li {padding:6px 18px 6px 0px; cursor: pointer; }

.secondary_nav .expand_area .shadow_divider,
.secondary_nav .expand_area .fade_divider {
    display:none;
}

.secondary_nav .expand_area .promo_area {
    width: 312px;
    padding-left: 20px;
}

.secondary_nav .expand_area .promo_area .content {
    display:block;
    height:128px;
}

.secondary_nav .expand_area .promo_area .list li {
    padding: 7px 0 0 0;
    font-size: 105%;
    line-height: 17px;
}

.secondary_nav .expand_area .promo_area .list2{margin-bottom:25px}

.secondary_nav .expand_area .promo_area .list2 li {
    margin-bottom: 10px;
}
.secondary_nav .expand_area .promo_area .list2 li a{
    font-size: 14px;
    line-height: 18px;
    color: #007dba;
}

.secondary_nav .expand_area .promo_area .list2 li a:hover {text-decoration: underline}

.secondary_nav .expand_area .promo_area h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 10px;
}

.secondary_nav .expand_area .snav_arr {
    background:url(../../i/common/s-15px-hpe.png) no-repeat 480px -2477px;
    _background-image: url(../../i/common/s-15px-ie6-hpe.gif);
    clear:both;
    display:block;
    line-height:8px;
    cursor:pointer;
    padding:5px 0;
}


.secondary_nav .expand_area .promo_cnt_bkg{
    background: url(../../i/patterns/i-promo-cnt-bkg.jpg) no-repeat;width:144px;height:257px;
    padding-top:12px;
}

.secondary_nav .expand_area .m10l {margin-left:10px}
.secondary_nav .expand_area .m18l {margin-left:18px}
.secondary_nav .expand_area .m12 {margin-bottom:12px;}

.secondary_nav .expand_area .lft20{padding-left:20px}

.secondary_nav .docked { background: #fff; left:0; top: 0px; position: fixed; }
.secondary_nav .docked .menu { width: 1000px; margin: 0 auto; }


/**Overwriting hf primary nav styles to reuse them for sec nav **/
.main_nav {
    float: left;
    width: auto;
}

.main_nav .level2 {
    display: block;
    width: auto;
    *display:inline-block;
}


.main_nav .level2 li {
    float: left;
    margin-left: 35px;
    margin-top: 28px;
    z-index: 15;
}

.main_nav {width:100%; }
.main_nav  .level2{ border-bottom: 1px solid #CCCCCC;}



.main_nav .level2 li a.header_link,
.main_nav .level2 li a.header_link:visited,
.main_nav .level2 li.selected a.header_link{
    color: #767676;
    font-size: 16px;
    line-height: 22px;
    font-weight:normal}


.main_nav .level2 li a.header_link:hover,
.main_nav .level2 li a.header_link:focus
{color: #007dba;}


.main_nav .level2 li a.header_link {
    font-size: 16px;
}

.main_nav .level2 li a, .main_nav .level2 li a:visited {
    color: #000000;
    display: block;
}

.main_nav .level2 li.current{
    border-bottom: 4px solid #0096D9;
    padding-bottom: 8px;
    color: #000;
    }

.main_nav .level3 li.selected{
     padding-bottom: 4px 
    }
    
.main_nav .level2 li.current a.header_link{color: #000;}

.main_nav .expand_area {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #CCCCCC #0096D6;
    border-image: none;
    border-style: solid;
    border-width: 2px 2px 3px;
    display: none;
    font-size: 14px;
    line-height: 18px;
    margin-left: 2px;
    margin-top: 27px;
    position: absolute;
    width: auto;
    z-index: 11;
}


.main_nav .expand_area .top_corner {
    left: 11px;
}


.main_nav .expand_area .level3 {
    display: inline-block;
    float: left;
    width: 250px;
}
.main_nav .expand_area .level3, .main_nav .expand_area .level4 {
    height: auto;
    padding-bottom: 8px;
    padding-top: 11px;
    width: 251px;
}

.main_nav .expand_area .shadow_divider {
    background: none repeat scroll 0 0 transparent;
    bottom: 24px;
    display: none;
    left: 250px;
    position: absolute;
    top: 20px;
    width: 1px;
}


.main_nav .expand_area .level4 {
    padding-top: 12px;
}
.main_nav .expand_area .level3, .main_nav .expand_area .level4 {
    height: auto;
    padding-bottom: 8px;
    padding-top: 11px;
    width: 251px;
}


.main_nav .expand_area .menu li a {
    margin: 0 20px;
}

.main_nav .expand_area .menu li a:hover{
    color:#007dba;
}

.main_nav .level2 li a, .main_nav .level2 li a:visited {
    color: #000000;
    display: block;
}

.main_nav .extend_expandable_area .level3 .menu li.selected a {
    color: #FFFFFF;
    outline: medium none;
}

.main_nav .expand_area .level4 .menu li {
    margin: 3px 0;
    padding: 0;
}

.main_nav .level3 li.selected{border-bottom:0px}


.main_nav .expand_area .menu .separator {
    border-top: 1px solid #CCCCCC;
    margin: 4px 20px 2px;
    padding-top:0px
}

.main_nav .expand_area .menu li {
    display: block;
    height: auto;
    margin: 0 0 9px;
    padding: 4px 0;
    position: static;
    width: 100%;
}


.main_nav .extend_expandable_area .level3 .menu li.selected {
    background: none repeat scroll 0 0 #007dba;
}

.main_nav .expand_area .shadow_divider {
    background: none repeat scroll 0 0 transparent;
    bottom: 24px;
    display: none;
    left: 250px;
    position: absolute;
    top: 20px;
    width: 1px;
}


.main_nav .extend_expandable_area .level4, .main_nav .extend_expandable_area .shadow_divider {
    display: block;
    float: left;
}

.main_nav .extend_expandable_area .shadow_divider {
    background: none repeat scroll 0 0 #CCCCCC;
}

.top_corner{ background: url(../../i/common/s-31px-hpe.png) no-repeat scroll 0 0 transparent; background-position: 0px -1068px;
    height: 12px;
    position: absolute;
    top: -12px;
    width: 17px;
    left:11px;
    }

.main_nav .level2.menu .first_li {
    margin-left: 18px;
}
.main_nav .level2.menu li {
    display: inline-block;
    margin: 0 15px;
    padding: 12px 0;
    float:none;
    *display:inline;
    *float:left;
}

.main_nav .level3 .menu li{
    display: block;
    height: auto;
    margin: 0 0 9px;
    padding: 4px 0;
    position: static;
    width: 100%;
    *display:block;
    *float:none;

}

 .main_nav .level3 .menu li.first_li {margin-left:0px}